body, html { height: 100%; }
body
{
margin:0;
padding:0;
}
/**********Headers*************/
#header
{
position:fixed;
background-color:black;
height:20%;
width:100%;
z-index:1;
box-shadow:2px 2px 10px black;
}
#empty
{
height:20%;
width:100%;
}
.opn
{
z-index:1;
position:fixed;
padding-top:0%;
height:9%;
width:100%;
background-color:white;
opacity:0.5;
box-shadow:2px 2px 10px black;
}
.opn ul
{
list-style:none;
height:100%;
width:90%;
}
.opn ul li
{
display:inline;
}
.opn ul li a
{
height:100%;
font-size:20px;
font-family:Times New Roman;
padding:3%;
text-align:center;
text-decoration:none;
color:black;
}
.opn a:hover
{
text-shadow:2px 2px 5px black;
}
.logo
{
margin-top:1%;
float:left;
height:80%;
width:20%;
color:white;
font-family:Brush Script MT;
text-shadow:3px 3px 15px white;
}
#txt
{
height:45%;
width:100%;
}
#txt2
{
height:30%;
width:100%;
}
.menu
{
margin-top:4.5%;
margin-right:8%;
float:right;
height:50%;
width:70%;
}
.menu ul
{
list-style:none;
height:100%;
width:100%;
}
.menu ul li
{
display:inline;
}
.menu ul li a
{
height:100%;
font-size:25px;
font-family:"Century Gothic";
padding:5%;
text-align:center;
text-decoration:none;
color:white;
}
.menu a:hover
{
text-shadow:5px 3px 10px white;
}
#img
{
padding-top:9.5%;
width:100%;
height:100%;
}
#img h1
{
font-style:italic;
text-align:center;
font-family:Copperplate Gothic;
}
#img h2
{
margin-top:5%;
font-style:italic;
margin-left:5%;
font-family:Copperplate Gothic;
}
.black
{
padding:2%;
box-shadow:2px 2px 15px 10px white;
position:static;
background-color:white;
margin-left:9%;
margin-right:9%;
margin-top:3%;
margin-bottom:5%;
height:65%;
}
.transbox
{
padding:2%;
box-shadow:2px 2px 15px 10px black;
background-color:white;
margin-left:9%;
margin-right:9%;
margin-top:2%;
margin-bottom:5%;
height:65%;
opacity:0.6;
filter:alpha(opacity=70);
}
.center
{
background-color:#cccccc;
border-radius:5px 5px 5px 5px;
box-shadow:5px 5px 55px 10px;
margin-top:50px;
padding:3%;
margin-left:25%;
margin-right:25%;
}
.f_div
{
margin:5%;
box-shadow:2px 2px 55px 10px black;
float:left;
padding:5%;
}
.a_div
{
margin:5% 25% 5% 25%;
box-shadow:2px 2px 55px 10px black;
padding:5%;
}
.r_div
{
float:right;
margin:4% 5% 5% 5%;
box-shadow:2px 2px 55px 10px black;
padding:2% 7% 2% 7%;
}
.box
{
box-shadow:1px 1px 5px 5px black;
border-radius:2px 2px 2px 2px;
}
.button
{
box-shadow:1px 1px 5px 5px black;
}
.button:hover
{
background-color:black;
color:white;
}
#footer
{
height:10%;
width:100%;
background-color:black;
}
.left
{
margin-left:2%;
color:white;
float:left;
}
.right
{
margin-right:2%;
float:right;
}
.link
{
text-decoration:none;
color:black;
}
#link
{
color:white;
text-decoration:none;
}

